# Allowing stable installs to be checked in:
# *.c
# !frob_*.c
# !custom.c


# Python holdovers from rigpy for autocomplete etc in the maya python plugins
__pycache__
*.pyc
*.bak
/venv
/libs/libs.egg-info
*.DS_Store
/.pyarmy

# Darwin
*.DS_Store
# Prerequisites
*.d
